html {
  font-family: Lato, sans-serif;
}

body {
  position: relative;
  background: url("../images/background.svg");
  background-repeat: repeat;
  background-size: 100% auto;
}

.heading {
  font-family: Comfortaa, cursive;
}

.grey {
  color: #999;
}

.btn {
  background-color: #7d07f2;
  border-color: #7d07f2;
  transition: all .2s linear;
}

.btn:hover {
  background-color: #5207f2;
  border-color: #5207f2;
}

/* base */

/* header */

header {
  background-color: #7d07f2;
}

.nav-bg {
  display: none;
}

.masthead .mob-nav {
  display: none;
}

.nav .btn {
  color: #fff;
}

header [type="checkbox"] + label::before {
  top: -5em;
}

.nav-label {
  text-align: right;
}

.nav-check:checked ~ .mob-nav {
  display: block;
}

.nav-check:checked ~ .nav-label svg path {
  fill: #d7f205;
}

.logo svg {
  fill: #fff;
  width: 100%;
  max-width: 150px;
}

.logo a {
  border: 3px solid transparent;
  transition: all .2s linear;
}

.logo a:hover {
  border: 3px solid #fff;
}

.btn-spec {
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.underline {
  height: .15rem;
  width: 0%;
  opacity: 0;
  margin: 0;
  background: #fff;
  border: none;
  transition: .3s ease-in-out;
}

.btn-spec:hover {
  color: #d7f205;
  background-color: transparent;
}

.current + .underline {
  width: 100%;
  opacity: 1;
}

.btn-spec:hover + .underline {
  background: #d7f205;
  width: 100%;
  opacity: 1;
}

.nav .btn-ghost {
  border: 3px solid #fff;
  border-radius: 8px;
  transition: all .2s linear;
}

.nav .btn-ghost:hover {
  background-color: transparent;
  border-color: #d7f205;
  color: #d7f205;
}

.nav-bg {
  transition: all .2s linear;
}

/* banner */

.banner-form input,
.sign-form input {
  border-color: #b7b7b7;
  border-radius: 4px;
  height: 2.4em;
}

.btn-solid {
  border-color: #23d9b7;
  background-color: #23d9b7;
  transition: all .2s linear;
}

.btn-solid:hover {
  border-color: #5207f2;
  background-color: #5207f2;
}

.embed-mine {
  padding-top: 99.3333%
}

.width {
  width: 100%;
}

.sect-sign {
  background: url("../images/banner-01.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f2f2f2;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .12));
}

.platforms li a {
  color: #000;
}

.platforms li a:hover {
  color: #666;
}

/* homepage content */

.anim-line {

  transform-origin: 140px;
  top: 18%;
  left: 45%;
  transform: translateX(-55%);
}

.chat {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .12));
}

.chat img {
  max-width: 15em;
  margin: 0 auto;
}

/* footer */

footer {
  background-color: #7d07f2;
}

footer .logo svg{
  max-width: 200px;
}

footer .social {
  border-bottom: 3px solid #fff;;
}

.social .social-nav li i {
  transition: all .3s linear;
}

.social .social-nav li:hover i {
  border: 3px solid #fff;
}

.extra-nav li a {
  text-decoration: none;
  color: #fff;
}

.extra-nav li a:hover {
  text-decoration: underline;
}

small {
  color: #fff;
}

/* sign up page */

.sign-up {
  background: url("../images/banner-01.png");
  background-repeat: repeat;
  background-size: auto;
  background-color: #f2f2f2;
}

.card {
  background-color: #fff;
  max-width: 32em;
  margin: 0 auto;
  border-radius: 4px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, .2));
}

.sign-up .logo svg {
  max-width: 200px;
  fill: #000;
}

.sign-up .logo a:hover {
  border-color: #000;
}

.sign-img {
  max-width: 10em;
  margin: 0 auto 1.5rem;
}

/* illustrations */

.back-images {
  display: none;
}

.fred-1 {
  max-width: 13em;

  transform: scaleX(-1);

  top: 14%;
  right: 5%;
  transition: all .2s ease-out;
}

.frank-1 {
  max-width: 13em;

  transform: scaleX(-1);

  top: 31%;
  left: 0;
  transition: all .2s ease-out;
}

@media only screen and (min-width: 25em) {

  .embed-mine {
    padding-top: 66.3333%
  }

  .width {
    width: 100%;
  }

}

@media only screen and (min-width: 32.5em) {

  .nav li {
    display: inline-block;
  }

  .width {
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  .back-images {
    display: block;
  }

  .embed-mine {
    padding-top: 33.3333%
  }

  .masthead .logo {
    text-align: center;
  }

  .masthead label,
  .masthead input {
    display: none;
  }

  .masthead .mob-nav {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  header {
    background-color: transparent;
  }

  main {
    padding-top: 3rem;
  }

  .nav-bg {
    top: 0;
    display: block;
  }

  .mob-nav {
    text-align: right;
  }

  .fred-1 {
    max-width: 17em;

    top: 14%;
    right: 2%;
    transition: all .2s ease-out;
  }

  .frank-1 {
    max-width: 15em;

    top: 30%;
    left: 2%;
    transition: all .2s ease-out;
  }

}

@media only screen and (min-width: 90em) {

  .fred-1 {
    max-width: 22em;

    top: 14%;
    right: 2%;
    transition: all .2s ease-out;
  }

  .frank-1 {
    max-width: 18em;

    top: 28%;
    left: 8%;
    transition: all .2s ease-out;
  }

}

@media only screen and (min-width: 110em) {

  .fred-1 {
    max-width: 26em;

    top: 12%;
    right: 8%;
    transition: all .2s ease-out;
  }

  .frank-1 {
    max-width: 22em;
    left: 12%;
  }

}
