html {
  font-family: 'Lato', sans-serif;
}

.heading {
  font-family: 'Comfortaa', cursive;
}

.light-blue {
  background-color: #26c6ff;
}

.white {
  color: #fff;
}

.blue {
  background-color: #00a0ea;
}

.button-style {
  border: 3px solid #fff;
  color: #1f51c2;
  background-color: #f6d340;
  border-radius: 8px;
}

.button-style-blue {
  border: 3px solid #1f51c2;
  color: #fff;
  background-color: #1f51c2;
  border-radius: 8px;
}

.form-input {
  border-radius: 4px;
  border-color: #ccc;
  max-width: 20em;
}

header,
footer {
  background-color: #23282d;
}

.logo {
  max-width: 150px;
}

.img-height {
  max-height: 26em;
}

.header-nav a,
.nav a,
.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #f6d340;
}

.header-nav a:hover {
  color: #000;
  background-color: #f6d340;
  border-radius: 3px;
}

.nav {
  display: none;
  background-color: #23282d;
}

.nav li:nth-child(even) {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

header [type="checkbox"] + label::before {
  top: -10em;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
  border-top: 2px solid #fff;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

header .current {
  color: #f6d340;
}

@media only screen and (min-width: 38em) {

  header [type="checkbox"] + label,
  .nav-check:checked ~ .nav {
    display: none;
  }

  .banner-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: none;
  }

}
